{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<header class="text-white py-4">
    <div class="container text-center bg-info">
        <h1 class="mb-0">Welcome to CareConnect</h1>
    </div>
</header>
<div class="container text-center py-4">
    <section>
        <h2>Our Mission</h2>
        <p>Our mission is to enhance the health and well-being of our patients by delivering personalized, high-quality care with integrity and professionalism. We aim to exceed the expectations of those we serve and create a positive impact on the health of our community.</p>
    </section>
    <section>
        <h2>Our Vision</h2>
        <p>Our vision is to be recognized as the premier healthcare institution, known for our commitment to patient-centric care, medical excellence, and continuous improvement. We aspire to be a trusted partner in promoting health and wellness for all.</p>
    </section>
    <section>
        <h2>Our Team</h2>
        <p>Our team of highly skilled and compassionate healthcare professionals is dedicated to providing the highest quality care to our patients. From board-certified physicians and surgeons to nurses, technicians, and support staff, every member of our team plays a crucial role in delivering exceptional care and service.</p>
    </section>
    <section>
        <h2>Community Involvement</h2>
        <p>We are proud to be an active member of the Edmonton community and are committed to giving back through various outreach programs, health education initiatives, and partnerships with local organizations. By actively engaging with our community, we strive to improve health outcomes and promote wellness for all.</p>
    </section>
</div>

{% endblock %}