{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Contact
{% endblock %}

{% block content %}
{% load static %}
<div class="card bg-light text-dark">
    <h1 class="text-center text-dark">Contact Us</h1>
    <hr>
    <div class="container w-50 text-center p-3 my-5 bg-secondary">
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <button class="btn btn-light mb-4 " type="submit">Submit</button>

    </form>
    </div>
</div>

{% endblock %}